config SHIELD_TAIPOGRAPHER_LEFT
  def_bool $(shields_list_contains,taipographer_left)

    config ZMK_COMBO_MAX_PRESSED_COMBOS
        default 16

    config ZMK_COMBO_MAX_COMBOS_PER_KEY
        default 100

config SHIELD_TAIPOGRAPHER_RIGHT
  def_bool $(shields_list_contains,taipographer_right)

    config ZMK_COMBO_MAX_PRESSED_COMBOS
        default 16

    config ZMK_COMBO_MAX_COMBOS_PER_KEY
        default 100
